<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Detail</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href='/css/stylesProduct.css'>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/8924ce9308.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../public/css/normalize.css">
</head>

<body>
  <!-- Header -->
  <%- include('../partials/header') %>
    <section class="inicio" id="inicio">

      <div class="content">
        <div class="productDetail">
          <h3>
            <%= product.name %></span>
          </h3>
          <img class="imgProductDetail" src="/images/<%= product.img %>" alt="">
        </div>
        <div class="description">
          <p class="alingDescription">
            <%= product.description %>
          </p><br>
          <p>
          <h1>Precio final:</h1>
          <%= '$' + (product.price - ((product.price * product.discount)/100)) %>
            </p>
            <h1>Cantidad</h1>
            <input type="number" id="cantidad" value="1" min="1" max="10">
            <h1>Métodos de Pago</h1>
            <img class="" src="/images/MedioDePago.jpg" alt="">
            <h2>Tiempo de entrega</h2>
            <p><strong>Sí tu zona está en un lugar apartado pueden haber demoras en las entregas.</strong>
              Tiempo estimado de entrega 8 días hábiles.
            </p><br><br>

            <form class="buttonForm">
              <input id="comprar">
                <input id="btn" type="submit" class="btn" value="Agregar al carrito">
              </li>
            </form>
            <!-- <form action="/delete/:<%= product.img %>">
                  <li id="comprar"> <a href="shoppingCart" class="btn">Eliminar Producto</a></li>
                </form> -->
        </div>
      </div>
      </div>
    </section>
    </div>
    </section>
    <!-- Footer -->
    <%- include('../partials/footer') %>
</body>

</html>