<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/listaCategorias.css" />
  <link rel="stylesheet" href="/css/styles.css">    
  <script src="https://kit.fontawesome.com/e00c988d1a.js" crossorigin="anonymous"></script>
  <title>Tpye de Usuarios</title>
</head>

<body> 
  <%- include ('../../partials/header') %>
  <main> 
    <div class="top">
      <h1>Detail Users Type</h1>
      <div class="plus">
        <a href="/type/add"><i class="fa-solid fa-circle-plus"></i></a>
      </div>
    </div>
    <div class="button">
      <ul>
        <% for( let i=0; i < typeUser.length; i++ ) { %>

          <li>
            <div class="button-top">
              <h3>
                <%= typeUser[i].name %>
              </h3>
            </div>
            <div class="button-down">
              <a href="/type/detail/<%= typeUser[i].id %> "><i class="fas fa-marker"></i></a>
              
              <form action="/type/delete/<%= typeUser[i].id %>?_method=DELETE" method="POST">

                <button type="submit"><i class="fas fa-trash"></i></button>
              </form>

            </div>
          </li>
          <% } %>
      </ul>
    </div>
  </main>
  <%- include('../../partials/footer')%>
</body>
</html>