<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SoundSystem Register</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&family=Montserrat&family=Roboto:ital,wght@1,100&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/stylesRegister.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/stylesRegister.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="css/normalize.css" />
    <script
      src="https://kit.fontawesome.com/e00c988d1a.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!--header-->
    <%- include('../partials/header') %>

    <form action="/users/edit/<%= usersToEdit.id  %>?_method=PUT"
      method="POST" class="form-user" >

      <div class="star-di  texto">
        <label for="name">Nombre Completo</label>
        <input
          type="text"
          name="fullName"
          id="fullName" 
          required
          value="<%= usersToEdit.fullName %>"
        />
       
        <label for="name">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          value="<%= usersToEdit.email  %>"
        />
       
        <input
          type="password"
          name="password"
          id="password"
          placeholder="ingrese su nueva contraseña"
        />
        <div>
         
        </div>
      </div>
      <br />
      <div class="control-login">
        <button class="button">GUARDAR</button>
        <button type="reset" class="button">CANCELAR</button>
      </div>
    </form>
    <!--footer-->
    <%- include('../partials/footer') %>
  </body>
</html>
